<main class="main">
  <div class="inner">

    <div class="car_image">
        <%= image_tag "s-879724908.png", class:"car_image_back" %>
          <div class="service_title">
            このアプリケーションは皆様の愛車と風景を多くの人に見てほしいという思いから作成しました！
              <div class="service_title_sub">
                もちろん愛車を持たれない方も普段の散歩道で見かけた風景を投稿していただけるなら、「新規登録」を宜しくお願いします。
              </div>
              <h2 class="service_body">
                -使い方-
              </h2>
              <div class='select-reason-contents'>
                <ul class='reason-lists'>
                  <li class='list'>
                    <%= image_tag "intro01.jpg", class:"list-pict" %>
                    <span class='reason-list-number'>1</span>
                    <h3 class='reason-list-text'>
                      一覧で投稿を閲覧
                    </h3>
                    <p class='reason-list-description'>
                      写真をクリックで詳細を確認できます。
                      マイページでも自身の投稿が見れます。
                    </p>
                  </li>
                  <li class='list'>
                    <%= image_tag "intro02.png", class:"list-pict" %>
                    <span class='reason-list-number'>2</span>
                    <h3 class='reason-list-text'>
                      新規で写真を投稿
                    </h3>
                    <p class='reason-list-description'>
                      写真と幾つかの入力で投稿できます。
                      撮影地点は場所でも国道○○線でも。
                    </p>
                  </li>
                  <li class='list'>
                    <%= image_tag "intro03.jpg", class:"list-pict" %>
                    <span class='reason-list-number'>3</span>
                    <h3 class='reason-list-text'>
                      グーグルマップで位置確認
                    </h3>
                    <p class='reason-list-description'>
                      具体的な位置を見ることができます。
                      もし自らが行く機会があってもイメージしやすい。
                    </p>
                  </li>
                </ul>
              </div>
              <h2 class="service_body">
                -利用規約-
              </h2>
              <li class="service_body_rule">
                <p class='reason-list-description'>
                  1.ユーザーは自己の責任において本サービスのユーザーIDおよびパスワードを適切に管理するものとします。
                </p>
                <p class='reason-list-description'>
                  2.ユーザーIDおよびパスワードを第三者に譲渡または貸与しもしくは第三者と共用することはできません。
                </p>
                <p class='reason-list-description'>
                  3.法令または公序良俗に違反する行為は禁止です。
                </p>
                <p class='reason-list-description'>
                  4.ナンバープレートや自分自身が写っているなどの個人の特定できてしまう写真の投稿は禁止です。
                </p>
                <p class='reason-list-description'>
                  5.本サービスの他のユーザーまたはその他の第三者に不利益，損害，不快感を与える行為は禁止です。
                </p>
                <p class='reason-list-description'>
                  6.ユーザーと他のユーザーまたは第三者との間において生じた取引，連絡または紛争等について一切責任を負いません。
                </p>
                <p class='reason-list-description'>
                  7.その他，不適切と判断する行為は禁止とさせていただきます。
                </p>
              </li>
          </div>
    </div>
  </div>
</main>