<div class="card">
  <%= link_to image_tag(photograph.image, class: :card__img ), photograph_path(photograph.id) %>
  <div class="card__body">
    <%= link_to photograph.title, photograph_path(photograph.id), class: :card__title, method: :get %>
    <%= link_to "by #{photograph.user.nickname}","#", class: :card__user %>
  </div>
</div>